.messages-container {
  display: flex;
  align-items: stretch; /* 縦方向の伸縮 */
  overflow: hidden;
}

/* ChatUserList の幅を固定 */
.user-list {
  width: 200px;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ChatProfile のスタイル */
.chat-profile {
  padding: 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

/* Chat の伸縮 */
.message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
