body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-header {
  background-color: #FF4141;
  color: white;
  padding: 30px;
}

.app-footer {
  background-color: #f7f7f7;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.app-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 105px; /* ヘッダーの高さ + 上の余白 */
  padding-bottom: 80px; /* フッターの高さ + 下の余白 */
}

.home-feed-with-sidebar {
  display: flex;
  height: calc(100vh - 60px); /* ヘッダーの高さを考慮 */
}

.home-feed-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 290px;
}
