.user-profile {
  text-align: center;
  padding: 50px;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details {
  text-align: left;
}
